on:
  workflow_call:
    inputs: 
      containerfile_path:
        required: true
        type: string
      registry:
        required: true
        type: string
      namespace:
        required: true
        type: string
      image_name:
        required: true
        type: string
      tags:
        required: true
        type: string
    secrets:
      cosign_password:
        required: true
      cosign_private_key:
        required: true
      

jobs:
  build-custom-silverblue:
    name: Build, sign, then push
    runs-on: ubuntu-24.04
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Cosign
        shell: bash
        run: ./install-cosign.sh "${{ runner.arch }}" "$RUNNER_TEMP"

      - name: Build image
        id: build
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          containerfiles: |
            ${{ inputs.containerfile_path }}
          image: ${{ inputs.image_name }}
          tags: ${{ inputs.tags }}

      - name: Log in to Container Registry
        shell: bash
        run: ./log-in-to-registry.sh "${{ github.actor }}" "${{ secrets.GITHUB_TOKEN }}" "${{ inputs.registry }}/${{ inputs.namespace }}"

      - name: Push to Container Registry
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
        id: push
        if: ${{ github.event_name != 'pull_request' }}
        with:
          image: ${{ steps.build.outputs.image }}
          tags: ${{ steps.build.outputs.tags }}
          registry: ${{ inputs.registry }}/${{ inputs.namespace }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        if: ${{ github.event_name != 'pull_request' }}
        with:
          subject-name: ${{ inputs.registry }}/${{ inputs.namespace }}/${{ steps.build.outputs.image }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      
      - name: Sign the published OCI image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          digest: ${{ steps.push.outputs.digest }}
          fully_qualified_image_names_json: ${{ steps.push.outputs.registry-paths }} 
          COSIGN_PASSWORD: ${{ secrets.cosign_password }}
          COSIGN_PRIVATE_KEY: ${{ secrets.cosign_private_key }}
        run: >
          echo "${fully_qualified_image_names_json}" 
          | jq -r '.[]' 
          | xargs -I {} cosign sign --yes --key=env://COSIGN_PRIVATE_KEY "{}@${digest}"
      
      - name: Echo outputs for auditing
        if: github.event_name != 'pull_request'
        run: |
          echo "${{ toJSON(steps.push.outputs) }}"
